.App {
  margin: 2rem;
}
.solution-container {
  border-top: 1px solid black;
  margin-top: 1rem;
}
.square {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  border: 5px solid grey;
}
.square-flex-container {
  text-align: center;
  margin-top: 75px;
  color: whitesmoke;
}
.button-style-ex2 {
  margin-top: 5px;
  background-color: aqua;
  width: 70px;
  height: 50px;
  border-radius: 12px;
}
.button-component-ex3 {
  margin-top: 5px;
  background-color: rebeccapurple;
  width: 70px;
  height: 50px;
  border-radius: 12px;
  color: whitesmoke;
}
.button-style-ex4 {
  margin-top: 5px;
  background-color: pink;
  width: 70px;
  height: 50px;
  border-radius: 12px;
}
.button-style-ex7 {
  background-color: rgb(19, 96, 42);
  width: 70px;
  height: 50px;
  border-radius: 12px;
  color: whitesmoke;
}
.first-name-label {
  width: 100px;
  height: 100px;
  color: rgb(8, 53, 21);
}
.last-name-label {
  width: 100px;
  height: 50px;
  color: rgb(8, 53, 21);
}
.user-list-ex6 {
  color: chocolate;
}
.user-list-ex8 {
  color: darkturquoise;
}
